@import "tailwindcss";

@theme {
  --color-cream: #F7F1E7;
  --color-cream-2: #F0E7D8;
  --color-ink: #2B2A25;
  --color-ink-soft: #635C4F;
  --color-terracotta: #C96A3E;
  --color-terracotta-dark: #B25A31;
  --color-pine: #28382A;
  --color-pine-2: #324A34;

  --font-display: "Playfair Display", serif;
}